<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.png"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Kumaravel Shanmugam</h3>
      </div>

      <div class="text-center">@KumarShan</div>
      <div class="text-center">
        <a href="https://www.kumaruidecode.com">www.kumaruidecode.com</a>
      </div>
    </div>
  </div>
</div>